[submodule "brokeragentworkflow"]
	path = brokeragentworkflow
	url = https://github.com/candlestixxx/brokeragentworkflow
[submodule "excel-legacy-leadgen"]
	path = excel-legacy-leadgen
	url = https://github.com/candlestixxx/excel-legacy-leadgen.git
[submodule "explorerexedecompiled"]
	path = explorerexedecompiled
	url = https://github.com/candlestixxx/explorerexedecompiled.git
[submodule "forclosureworkflow"]
	path = forclosureworkflow
	url = https://github.com/candlestixxx/forclosureworkflow.git
[submodule "p2p_service_marketplace"]
	path = p2p_service_marketplace
	url = https://github.com/candlestixxx/p2p_service_marketplace.git
[submodule "re-agent-workflow-media-1"]
	path = re-agent-workflow-media-1
	url = https://github.com/candlestixxx/re-agent-workflow-media-1
[submodule "realestatecrm"]
	path = realestatecrm
	url = git@github.com:candlestixxx/realestatecrm.git
[submodule "realestateleadcaller"]
	path = realestateleadcaller
	url = https://github.com/candlestixxx/realestateleadcaller.git
[submodule "realestateprototype"]
	path = realestateprototype
	url = https://github.com/candlestixxx/realestateprototype.git
[submodule "skillzhub"]
	path = skillzhub
	url = https://github.com/candlestixxx/skillzhub.git
[submodule "socialmediacontentplanner"]
	path = socialmediacontentplanner
	url = https://github.com/candlestixxx/socialmediacontentplanner.git
[submodule "techno_platform_detroit"]
	path = techno_platform_detroit
	url = https://github.com/candlestixxx/techno_platform_detroit.git
[submodule "theta-data-api"]
	path = theta-data-api
	url = https://github.com/candlestixxx/theta-data-api.git
[submodule "ultratrader"]
	path = ultratrader
	url = https://github.com/candlestixxx/ultratrader.git
[submodule "warp"]
	path = warp
	url = https://github.com/candlestixxx/warp.git
[submodule "xrnet"]
	path = xrnet
	url = https://github.com/candlestixxx/xrnet.git
[submodule "leadG"]
	path = leadG
	url = https://github.com/candlestixxx/leadG.git
